on:
  push:
    branches:
      - master

jobs:
  build:
    runs_on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: "Login to Docker Hub"
        run: docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_TOKEN }}

      - name: "Build Docker image"
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myimage .

      - name: "Push Docker image"
        run: docker push ${{ secrets.DOCKER_USERNAME }}/myimage
